<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>EasyWeb</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
    </div>

    <script>
        var wsUrl = "ws:"
        if (window.location.protocol == "https:") {
            wsUrl = "wss:"
        }
        wsUrl = wsUrl + "//" + window.location.host + "/wss/{{.}}"
        var ws = new WebSocket(wsUrl);
        // ws.onopen = function () {
        // 	ws.send('{"id":"","msg":"open"}');
        // };

        ws.onclose = function () {
            console.log("web socket is closed");
            g = document.createElement('h3');
            g.innerText = "the websocket is closed";
            $("div:first").before(g);
        }

        ws.onmessage = function(e) {
            var obj = JSON.parse(e.data);
            switch (obj.type) {
                case "title":
                    document.title = obj.msg
                    break;
                case "js":
                    $.getScript(obj.msg);
                    break;
                case "css":
                    $.ajax({
                        url: obj.msg,
                        dataType: 'text',
                        success: () => {
                            $("head").append("<link>");
                            let css = $("head").children(":last");
                            css.attr({
                                rel: "stylesheet",
                                type: "text/css",
                                href: obj.msg
                            });
                        }
                    });
                    break
                case "event":
                    bindEvent(obj.msg, obj.id);
                    break
                default:
                    var element = $("#" + obj.id);
                    if (element.length > 0) {
                        if (obj.msg == 0) {
                            $("#" + obj.id).remove();
                            // console.log("删除html")
                            return
                        }
                        if (obj.type == "label") {
                            $("#" + obj.id).text(obj.msg)
                        } else {
                            $("#" + obj.id).html(obj.msg)
                        }
                    } else {
                        g = document.createElement('div');
                        g.setAttribute("id", obj.id);
                        g.innerHTML = obj.msg;
                        $("div:first").append(g);
                    }
            }
        };

        function bindEvent(typ, id) {
            console.log("bindEvent:", typ, id)
            switch (typ) {
                case "input":
                    $("#" + id).on("input", function () {
                        var info = {
                            type: typ,
                            msg: $(this).val(),
                            id: id
                        }
                        ws.send(JSON.stringify(info));
                    });
                    break;
                case "button":
                    $("#" + id).click(function () {
                        var info = {
                            type: "button",
                            msg: "click",
                            id: id
                        }
                        console.log("click:",info)
                        ws.send(JSON.stringify(info));
                    });
                    break
                case "form":
                    $("#" +id).submit(function (event) {
                        event.preventDefault();
                        const data = new FormData(event.target);
                        const value = Object.fromEntries(data.entries());
                        console.log("form:", value)
                        var info = {
                            type: "form",
                            msg: JSON.stringify(value),
                            id: id
                        }
                        ws.send(JSON.stringify(info));
                        return false;
                    });
                    break

                default:
                    $(id).on(typ, function () {
                        var info = {
                            type: typ,
                            msg: $(this).text(),
                            id: id
                        }
                        ws.send(JSON.stringify(info));
                    });
                    break;
            }
        }


    </script>
</body>

</html>