<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>EasyWeb</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" id="dynamic_container_id">
    </div>

    <script>
        var wsUrl = "ws:"
        if (window.location.protocol == "https:") {
            wsUrl = "wss:"
        }
        wsUrl = wsUrl + "//" + window.location.host + "/wss/{{.}}"+window.location.search
        var ws = new WebSocket(wsUrl);

        ws.onclose = function () {
            console.log("web socket is closed");
            // g = document.createElement('h3');
            // g.innerText = "the websocket is closed";
            // $("div:first").before(g);
        }

        ws.onmessage = function (e) {
            var obj = JSON.parse(e.data);
            switch (obj.type) {
                case "title":
                    document.title = obj.msg
                    break;
                case "js":
                    $.getScript(obj.msg);
                    break;
                case "css":
                    g = document.createElement('link');
                    g.setAttribute("rel", "stylesheet");
                    g.setAttribute("type", "text/css");
                    g.setAttribute("href", obj.msg);
                    $("head").append(g);
                    break
                case "event":
                    bindEvent(obj.msg, obj.id);
                    break
                case "off":
                    $("#" + obj.id).off(obj.msg)
                    break
                case "eval":
                    eval(obj.msg);
                    break
                case "attr":
                    var attr = JSON.parse(obj.msg);
                    var element = document.getElementById(obj.id);
                    element.setAttribute(attr.key, attr.value);
                    break
                default:
                    var element = document.getElementById(obj.id);
                    if (element != null) {
                        if (obj.msg.length == 0) {
                            element.remove();
                            return
                        }
                        element.innerHTML = obj.msg;
                    } else if (obj.msg.length > 0){
                        g = document.createElement('div');
                        g.setAttribute("id", obj.id);
                        g.innerHTML = obj.msg;
                        document.getElementById("dynamic_container_id").appendChild(g);
                    }
            }
        };

        // send heartbeat every 3 seconds
        setInterval(function () {
            if (ws.readyState == WebSocket.OPEN) {
                ws.send(JSON.stringify({ type: "heartbeat" }));
            } else {
                ws = new WebSocket(wsUrl);
                ws.onopen = function (event) {
                    location.reload();
                }
            }
        }, 3000);

        function bindEvent(typ, id) {
            console.log("bindEvent:", typ, id)
            switch (typ) {
                case "input":
                    $("#" + id).on("input", function () {
                        var val = $(this).val()
                        if (val.length == 0) {
                            val = $(this).children("input").val()
                        }
                        console.log("input:",id, val)
                        var info = { type: typ, msg: val, id: id }
                        ws.send(JSON.stringify(info));
                    });
                    break;
                case "button":
                case "click":
                    $("#" + id).click(function () {
                        var info = { type:"click", msg:  $(this).text(), id: id }
                        console.log("click:", info)
                        ws.send(JSON.stringify(info));
                    });
                    break
                case "change":
                    $("#" + id).on( "change", function () {
                        var val = $(this).val()
                        if (val.length == 0) {
                            val = $(this).children("option").val()
                        }
                        var info = { type: "change", msg: val, id: id }
                        console.log("change:", info)
                        ws.send(JSON.stringify(info));
                    });
                    break
                case "submit":
                case "form":
                    $("#" + id).submit(function (event) {
                        event.preventDefault();
                        const data = new FormData(event.target);
                        const value = Object.fromEntries(data.entries());
                        var files = [];
                        for (let x in value) {
                            if (value[x] instanceof File) {
                                f = value[x];
                                files.push(f);
                                info = {}
                                value[x] = f.name + ":" + f.size;
                            }
                        }
                        console.log("form:", id, value)
                        var info = { type: "form", msg: JSON.stringify(value), id: id }
                        // send form data
                        ws.send(JSON.stringify(info));
                        for (let f of files) {
                            // send file info and data
                            ws.send(str2ab("file:" + id + ":" + f.name + ":" + f.size + ":"))
                            sendFile(f);
                        }
                        return false;
                    });
                    break
                default:
                    $("#" + id).on(typ, function () {
                        console.log("event:", typ, id)
                        var info = { type: typ, msg: $(this).text(), id: id }
                        ws.send(JSON.stringify(info));
                    });
                    break;
            }
        }
        function sendFile(file) {
            var reader = new FileReader();
            var rawData = new ArrayBuffer();
            reader.loadend = function () {
            }
            reader.onload = function (e) {
                rawData = e.target.result;
                ws.send(rawData);
            }
            reader.readAsArrayBuffer(file);
        }
        function str2ab(str) {
            var buf = new ArrayBuffer(str.length * 2);
            var bufView = new Uint8Array(buf);
            for (var i = 0, strLen = str.length; i < strLen; i++) {
                bufView[i] = str.charCodeAt(i);
            }
            return buf;
        }
    </script>
</body>

</html>